<h1>Learn how to program</h1>


<h2>Sections:</h2>


<% if @sections.any? %>
<ul>
  <% @sections.each do |section| %>
  <li><%= link_to section.name, section_path(section) %></li>
  <% end %>
</ul>

<% else %>

<h2>There are no sections yet</h2>

<% end %>

<p><%= link_to "New Section", new_section_path %></p>
